RADIO_DATA_DIR=debug
RADIO_PROGRAMMER=debug/tools/ch341eeprom/ch341eeprom
RADIO_TARGET_VIN=
RADIO_FIRST_CHARACTER=
RADIO_DONOR_IMAGE=debug/dumps/donor/read-01.bin
RADIO_DONOR_SHA256=
RADIO_ORIGINAL_IMAGE=debug/dumps/original/read-01.bin
RADIO_ORIGINAL_SHA256=
